@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
}

.indexcontainer {
    font-family: 'PT Serif', serif;
    display: flex;
}

.sidebar {
    background-color: rgb(50, 47, 47);
    /* border-radius: 100px; */
    width: 218px;
    height: 100%;
    /* border: 2px solid black; */
    font-weight: bold;
    position: fixed;

}

.sidebar nav {
    padding: 70px;
}

.sidebar nav li {
    list-style: none;
    font-size: 20px;
    padding: 33px 0px;
}

.sidebar nav li a {
    text-decoration: none;
    color: aliceblue;
}

.sidebar nav li a:hover {
    font-size: 25px;
}

.navbar {
    padding: 15px;
    position: absolute;
    right: 2%;
    display: flex;
}

.navbar img {
    margin: 0px 0px 0px 20px;
    padding: 0px;
    width: 30px;
}

.active {
    font-size: 30px;
}


/* CSS for index.html */

.main {
    /* background-color: rgb(110, 174, 243); */
    /* border-radius: 50px; */
    /* border: 2px solid red; */
    width: 85vw;
}

.infocontainer {
    /* border: 2px solid rgb(143, 11, 237); */
    height: 50vh;
    width: 80vw;
    margin: 150px 240px;
    display: flex;
    justify-content: space-around;
}

.devinfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.name {
    font-size: 3rem;
    font-weight: bold;
}

.role {
    font-size: 30px;
    color: rgb(102, 92, 92);
    font-style: oblique;
}

.about {
    padding: 25px 0px 25px 0px;
    width: 45vw;
    text-justify: auto;
    text-align: justify;
    text-justify: inter-word;
}

.buttons button {
    background-color: lightsteelblue;
    font-weight: bold;
    font-size: 18px;
    margin: 10px;
    padding: 15px;
    border-radius: 30px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: rgb(80, 126, 186);
    color: white;
}

.devImage img {
    height: 100%;
    width: 100%;
}




/* CSS for form in join.html*/

.joincontainer {
    font-family: 'PT Serif', serif;
    display: flex;
}

.joinintro {
    width: 100vw;
}

.form-group input {
    font-family: 'PT Serif', serif;
    text-align: center;
    display: block;
    width: 35vw;
    padding: 1px;
    border: 2px solid black;
    margin: 7px auto;
    font-size: 18px;
    border-radius: 8px;
}

.form-group1 {
    display: flex;
    justify-content: center;
}

.form-group1 div {
    font-family: 'PT Serif', serif;
    padding: 10px;
}

.contactform {
    border: 2px solid black;
    height: 100%;
    width: 45vw;
    margin: 100px auto 0px auto;
    padding: 40px;
    border-radius: 28px;
}

.contactform h1 {
    text-align: center;
}

.contactform h3 {
    text-align: center;
    margin: 10px;
}

.privacy {
    font-size: x-small;
    margin: 0px 90px;
}


.contactform button {
    display: block;
    width: 73%;
    margin: 20px auto;
}



.btn {
    font-family: 'PT Serif', serif;
    margin: 0px 9px;
    background-color: lightsteelblue;
    font-weight: bold;
    color: black;
    padding: 4px 14px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(80, 126, 186);
    color: white;
}


/* CSS for form in about.html*/
.aboutcontainer {
    font-family: 'PT Serif', serif;
    display: flex;
}

.data .about {
    padding: 25px 0px 25px 0px;
    width: 65vw;
    text-justify: auto;
    text-align: justify;
    text-justify: inter-word;
}

.intro {
    /* height: 70vh; */
    width: 70vw;
    margin: auto 15vw;
    padding: 35px;
    display: block;
}

#data1 img {
    max-width: 400px;
    display: block;
    margin: auto;
}

.intro h2 {
    text-align: center;
    margin: 40px auto;
}

.intro h3 {
    margin: 20px auto 0px auto;
}

.data {
    padding: 1px 35px 20px 35px;
    border-radius: 10px;
}

#data2 {
    background-color: bisque;
}

#data4 {
    background-color: bisque;
}



/* CSS for form in blog.html*/
.blogcontainer {
    font-family: 'PT Serif', serif;
    display: flex;
}

/* CSS for form in project.html*/
.projectcontainer {
    font-family: 'PT Serif', serif;
    display: flex;
    height: 100%;
}

.headname {
    margin: 10px;
    font-size: 80px;
    font-weight: bolder;
    position: absolute;
    right: 50%;
    left: 40%;
}

#projectitem1 {
    width: 70vw;
    display: flex;
    border: 2px solid grey;
    border-radius: 20px;
    padding: 20px;
    height: 100%;
}

#projectimage1 {
    width: 35vw;
}

#projectitem2 {
    width: 70vw;
    display: flex;
    border: 2px solid grey;
    border-radius: 20px;
    padding: 20px;
    height: 100%;
}

#projectimage2 {
    width: 35vw;
}


/* Responsive Home page */
@media (max-width: 800px) {


    .devImage {
        display: none;
    }

    .infocontainer {

        margin: 325px auto 34vw 220px;
        width: 100vw;
        flex-direction: column;
    }

    .about {
        width: 75vw;
    }

    .data .about {
        width: 55vw;
    }

    #data1 img {
        max-width: 50vw;
    }

    .name {
        width: 80vw;
    }

    .intro {
        margin: 30px auto 0px 169px;
        width: 63vw;
    }

    #projectitem1, #projectitem2{
        /* margin-right: 10px; */
        width: 75vw;
    }
    
    .headname {
        position: absolute;
        left: 40%;
        top: 100px;
    }

    @media (max-width: 480px) {

        .hamburger {
            background-color: aliceblue;
            /* position: fixed; */
            
        }

        .hamclass {
            border: 2px solid black;
            border-radius: 5px;
            margin: 10px;
            padding: 6px 6px 0px 6px;
        }

        #cross {
            display: none;
            margin-left: 222px;
            margin-top: 3px;
        }

        .intro {
            margin: auto;
            margin-top: 30px;
            width: 100vw;
        }

        .sidebar {
            /* position: absolute; */
            display: none;
        }

        .infocontainer {

            margin: 325px 34vw 34vw 11vh;
            width: 100vw;
            flex-direction: column;
        }

        .about {
            width: 70vw;
        }

        .data .about {
            width: 85vw;
        }

        .devImage {
            display: none;
        }

        .buttons a {
            display: block;
        }

        .headname {
            position: absolute;
            left: 35%;
            top: 100px;
        }
    

    }
}